
        <h1>Signup</h1>
        <form method='post' action='Create'>
            <table>
                <tr>
                    <label>
                        <td>Username</td>
                        <td><input type="text" name='username' value='{{username}}'/></td>
                        <td class='error'>{{username_error}}</td>
                     </label>
                </tr>
                <tr>
                    <label>
                        <td>Password</td>
                        <td><input type="password" name='password' /></td>
                        <td class='error'>{{pwd_error}}</td>
                    </label>
                </tr>                 
                <tr>
                    <label>
                        <td>Verify Password</td>
                        <td><input type="password" name='verify_password' /></td>
                    </label>
                </tr>
                <tr>
                    <label>
                        <td>Email (optional)</td>
                        <td><input type="text" name='email' value='{{email}}'/></td>
                        <td class='error'>{{email_error}}</td>
                    </label>
                </tr>
            </table>
            <input type="submit" value='submit' />
        </form>

        

        
   